<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/home" >Home</a></li>
        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        <li routerLinkActive="active"><a href="#">Deals</a></li>
        <li routerLinkActive="active"><a href="#">Stores</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" >
           <a  routerLink="/login" *ngIf="!isLoggedIn"><span class="glyphicon glyphicon-user"></span> Login / Register</a>
        </li>
        <li class="active" >
          <a  routerLink="/login" *ngIf="isLoggedIn"><span class="glyphicon glyphicon-user"></span> 
            Welcome {{UserInfo.displayName? UserInfo.displayName :'User'}}</a>
       </li>
       <li routerLinkActive="active" >
        <a  routerLink="/login" *ngIf="isLoggedIn" (click)="onSignOut()"><span class="glyphicon glyphicon-user"></span> Logout</a>
     </li>
      </ul>
      
    </div>
  </div>
</nav>