<div class="jumbotron">
  <div class="container text-center">
    <div class="store-title">{{storeTitle}}</div>      
    <p>Mission, Vission & Values</p>
  </div>
</div>

<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.philips.com/is/image/PhilipsConsumer/58PUT6604_94-IMS-en_IN?$jpglarge$&wid=960" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy Televison and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-danger">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://www.usa.philips.com/c-dam/b2c/tv/categorypage/us/AndroidTVLP/AndroidTV_front.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy Televison and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.philips.com/is/image/PhilipsConsumer/55PFT6609S_98-IMS-en_PH?$jpglarge$&wid=1250" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy Televison and get a gift card</div>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.philips.com/is/image/PhilipsConsumer/32PHS6605_12-IMS-en_IE?$jpglarge$&wid=1250" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy Televison and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://images.philips.com/is/image/PhilipsConsumer/55PFT6609S_98-IMS-en_PH?$jpglarge$&wid=1250" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy Televison and get a gift card</div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">BLACK FRIDAY DEAL</div>
          <div class="panel-body"><img src="https://www.usa.philips.com/c-dam/b2c/tv/categorypage/us/AndroidTVLP/AndroidTV_front.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">Buy Televison and get a gift card</div>
        </div>
      </div>
    </div>
  </div>